
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
	width: 5px;
	height: 5px;
	background-color: #f00;
}
 
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
/*	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
*/	border-radius: 0px;
	background-color: #f8fafc;
}
 
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
	border-radius: 0px;
/*	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
*/	background-color: #333;
}


@keyframes warn {
    0% {
        transform: scale(0);
        opacity: 0.0;
    }
    25% {
        transform: scale(0);
        opacity: 0.1;
    }
    50% {
        transform: scale(0.1);
        opacity: 0.3;
    }
    75% {
        transform: scale(0.5);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 0.0;
    }
}
/* 产生动画（向外扩散变大）的圆圈  */
.pulse {
    animation: warn 3s ease-out;
    animation-iteration-count: infinite;
}
